<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
        Cread Properties
    </title>
    <link href="/assets/css/style.css" id="realia-css-css" media="all" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' id='fontawesome-css'
        href='/assets/css/font-awesome.min.css'
        type='text/css' media='all' />
    </meta>
    </meta>
</head>

<body class="home page page-id-268 page-template-default">
    <div class="page-wrapper">
        <div class="header">
            <nav class="navbar navbar-default">
                <div class="header-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#primary-menu"
                                data-toggle="collapse" type="button">
                                <span class="sr-only">
                                    Toggle navigation
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img alt="Home"
                                    src="/assets/images/logo.png">
                                <span>
                                    Cread Properties
                                </span>
                                </img>
                            </a>
                        </div>
                        <!-- /.navbar-header -->
                        <div class="navbar-info">
                            <i class="pp pp-normal-pencil">
                            </i>
                            gah@wah.com
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.header-top -->
                <div class="header-bottom">
                    <div class="container">
                        <div class="menu-primary-container">
                            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="primary-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item current-menu-ancestor current-menu-parent menu-item-has-children menu-item-449"
                                    id="menu-item-449">
                                    <a href="/theme/realia/">
                                        Home
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-450"
                                    id="menu-item-450">
                                    <a href="/theme/realia/properties/">
                                        Properties
                                    </a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-492"
                                            id="menu-item-492">
                                            <a href="#">
                                                Property 1
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.header-bottom -->
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="content col-sm-8 col-md-9">
                    <article class="post-268 page type-page status-publish hentry" id="post-268">
                        <header class="entry-header page-header">
                            <h1>
                                Properties
                            </h1>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <div class="row">
                                <div class="col-sm-8">
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->
                    </article>
                    <!-- #post-## -->  {% for item  in api.propertiesArray %}   
                          {{item.Address1}}         
 {% endfor %}
                    <div class="widget widget_properties_widget" id="properties_widget-3">

                                  
                   
                                            <div class="type-box item-per-row-3">
                            <div class="properties-row">
                                <div class="property-container">
                                    <div class="property-box">
                                        <div class="property-box-image ">
                                            <a class="property-box-image-inner "
                                                href="http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/">
                                                <img alt="interiors"
                                                    class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image"
                                                    height="226"
                                                    src="/assets/images/defaulthouse.jpg"
                                                    width="270" />
                                                <div class="property-box-image-price">
                                                    $ 220,000
                                                </div>
                                            </a>
                                        </div>
                                        <!-- /.property-image -->
                                        <div class="property-box-content">
                                            <div class="property-box-title">
                                                <h3>
                                                    <a
                                                        href="http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/">
                                                        South Mervin Boulevard
                                                    </a>
                                                </h3>
                                            </div>
                                            <!-- /.property-box-title -->
                                            <div class="property-box-body">
                                                <div class="property-box-type">
                                                    Villa
                                                </div>
                                                <!-- /.property-box-type -->
                                                <div class="property-box-price">
                                                    $ 220,000
                                                </div>
                                                <!-- /.property-box-price -->
                                                <div class="property-box-read-more">
                                                    <a
                                                        href="http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/">
                                                        Read More
                                                    </a>
                                                </div>
                                                <!-- /.property-box-price -->
                                                <div class="property-box-meta">
                                                    <span class="property-box-meta-item property-box-meta-item-area">
                                                        <i class="pp pp-normal-cursor-scale-up">
                                                        </i>
                                                        140 sqft
                                                    </span>
                                                    <!-- /.property-box-meta-item -->
                                                    <span class="property-box-meta-item property-box-meta-item-beds">
                                                        <i class="pp pp-normal-bed">
                                                        </i>
                                                        3
                                                    </span>
                                                    <!-- /.property-box-meta-item -->
                                                    <span class="property-box-meta-item property-box-meta-item-baths">
                                                        <i class="pp pp-normal-shower">
                                                        </i>
                                                        4
                                                    </span>
                                                    <!-- /.property-box-meta-item -->
                                                </div>
                                                <!-- /.property-box-meta -->
                                            </div>
                                            <!-- /.property-box-body -->
                                        </div>
                                        <!-- /.property-box-content -->
                                    </div>
                                                                  
                                </div>
                            </div>
                        </div>
                        <div class="type-box item-per-row-3">
                            <div class="properties-row">
                                <div class="property-container">
                                    <div class="property-box">
                                        <div class="property-box-image ">
                                            <a class="property-box-image-inner "
                                                href="http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/">
                                                <img alt="interiors"
                                                    class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image"
                                                    height="226"
                                                    src="/assets/images/defaulthouse.jpg"
                                                    width="270" />
                                                <div class="property-box-image-price">
                                                    $ 220,000
                                                </div>
                                            </a>
                                        </div>
                                        <!-- /.property-image -->
                                        <div class="property-box-content">
                                            <div class="property-box-title">
                                                <h3>
                                                    <a
                                                        href="http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/">
                                                        South Mervin Boulevard
                                                    </a>
                                                </h3>
                                            </div>
                                            <!-- /.property-box-title -->
                                            <div class="property-box-body">
                                                <div class="property-box-type">
                                                    Villa
                                                </div>
                                                <!-- /.property-box-type -->
                                                <div class="property-box-price">
                                                    $ 220,000
                                                </div>
                                                <!-- /.property-box-price -->
                                                <div class="property-box-read-more">
                                                    <a
                                                        href="http://preview.byaviators.com/theme/realia/properties/south-mervin-boulevard/">
                                                        Read More
                                                    </a>
                                                </div>
                                                <!-- /.property-box-price -->
                                                <div class="property-box-meta">
                                                    <span class="property-box-meta-item property-box-meta-item-area">
                                                        <i class="pp pp-normal-cursor-scale-up">
                                                        </i>
                                                        140 sqft
                                                    </span>
                                                    <!-- /.property-box-meta-item -->
                                                    <span class="property-box-meta-item property-box-meta-item-beds">
                                                        <i class="pp pp-normal-bed">
                                                        </i>
                                                        3
                                                    </span>
                                                    <!-- /.property-box-meta-item -->
                                                    <span class="property-box-meta-item property-box-meta-item-baths">
                                                        <i class="pp pp-normal-shower">
                                                        </i>
                                                        4
                                                    </span>
                                                    <!-- /.property-box-meta-item -->
                                                </div>
                                                <!-- /.property-box-meta -->
                                            </div>
                                            <!-- /.property-box-body -->
                                        </div>
                                        <!-- /.property-box-content -->
                                    </div>

                                </div>
                            </div>
                        </div>
                                        
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- /.main -->
        <div class="footer">
            <!-- /.footer-top -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-inner">
                        <div class="footer-bottom-left">
                            <div class="widget widget_text" id="text-2">
                                <div class="textwidget">
                                    © Cread Properties
                                </div>
                            </div>
                        </div>
                        <!-- /.footer-bottom-left -->
                        <div class="footer-bottom-right">
                            <div class="widget widget_nav_menu" id="nav_menu-2">
                                <div class="menu-footer-container">
                                    <ul class="menu" id="menu-footer">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-534"
                                            id="menu-item-534">
                                            <a href="/">
                                                Home
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.footer-bottom-left -->
                    </div>
                    <!-- /.footer-bottom-inner -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.footer-bottom -->
        </div>
        <!-- /.footer -->
    </div>
</body>

</html>